GITHUB_TOKEN=
GITHUB_NAME=
GITHUB_EMAIL=
PROVIDER_API_KEY=
PROVIDER=OpenAI
ORGANIZATION_NAME=machina-ratiocinatrix
REPO_WITH_INSTRUCTIONS=machina_ratiocinatrix
SYSTEM_INSTRUCTIONS_FILE=machina.yaml
NAME=Machina-Ratiocinatrix
INSTRUCTIONS=
VERB=ratiocinate
